.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    padding: 24px;
    justify-content: center;
}

header {
    text-align: center;
}

section {
    width: 45vw;
    border: 2px solid #eae6eb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 24px;
}

h1 {
    margin-top: 0;
    margin-bottom: 24px;
    text-align: center;
}

footer {
    margin-top: 20px;
    align-items: center;
    text-align: center;
}


/**
ADD TODO Component Styling
 */

.addTodo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


/** TodoList Component Styling */

.list-container {
    margin-top: 15px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.line {
    background: darkslategray;
    height: 0.2rem;
    width: 7rem;
    margin-right: auto;
}


/** ALERT Component Styling */

.alert {
    padding: 1px;
    text-align: center;
    letter-spacing: 0.1rem;
    border-radius: 0.25rem;
}

.error {
    color: #721c24;
    background: #f8d7da;
}

.success {
    color: #155724;
    background: #4eb466;
}